<link rel="stylesheet" href="/stylesheets/home/stats.css">
<div class="column center">
    {{>centerButtons}}
    <div class="stats">
    <img src="images/eatingCookie.png" alt="CookieEating" height="75%" width="85%">
    </div>
        <h1>General</h1>
    <div class="containerTabel">
        <div class="columnlong">
            <p>Current cookies</p>
            <p>Total cookies this rebirth</p>
            <p>Total cookies</p>
            <p>Total rebirths</p>
            <p>Time played</p>
            <p>Total buildings</p>
            <p>Cookies per second (cps)</p>
            <p>Cookies per click</p>
        </div>
        <div class="columnshort">
            {{!Current Cookies}}
            <p>0</p>
            {{!Total cookies this rebirth}}
            <p>0</p>
            {{!Total cookies}}
            <p>0</p>
            {{!Total Rebirths}}
            <p>0</p>
            {{!Time played}}
            <p>0</p>
            {{!Total buildings}}
            <p>0</p>
            {{!Cookies per second}}
            <p>0</p> 
            {{!Cookies per click}}
            <p>0</p>
        </div>
    </div>
    <h1>upgrades</h1>
</div>
