<div class="column center">
    
    <button id="button-logout" onclick="logout()">logout</button>

    <button id="button-delete" onclick="openDeletePopup()">delete progress</button>

    <div id="popup-delete">
        <div class="popup-content-delete">
            <h2>Are you sure you want to reset all your progress?</h2>
            <div class="button-container">
                <button onclick="confirmDelete()" style="margin-right: 10px;">Yes</button>
                <button onclick="closeDeletePopup()">No</button>
            </div>
        </div>
    </div>
    <div id="row">
            <label for="volumeSlider">Volume:</label>
    <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1">
    </div>

</div>

<script src="../javascript/home/popup.js"></script>
<script src="../javascript/home/Delete.js"></script>
<script src="../javascript/home/logout.js"></script>
