    <div id="centerContent">
      {{> centerLeaderboard }} 
    </div>

<script id="template-centerStats" type="text/x-handlebars-template">
  {{> centerStats }}
</script>

<script id="template-centerLeaderboard" type="text/x-handlebars-template">
  {{> centerLeaderboard }}
</script>
<script id="template-centerOptions" type="text/x-handlebars-template">
  {{>centerOptions}}
</script>


    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
<script src="/javascript/home/PartialsSwitch.js"></script>