 <div class="column center">
{{>centerButtons}}
    <div class="podium">
  <div class="podium-block second">
    <div class="podium-rank">2</div>
    <div class="podium-name">Player2</div>
  </div>
  <div class="podium-block first">
    <div class="podium-rank">1</div>
    <div class="podium-name">Player1</div>
  </div>
  <div class="podium-block third">
    <div class="podium-rank">3</div>
    <div class="podium-name">Player3</div>
  </div>
</div>
<div class="containerLeaderboard">
<table>
  <tr>
    <th>ranking</th>
    <th>name</th>
    <th>Total Cookies</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Player1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Player2</td>
    <td>0</td>
  </tr>
</table>
</div>
    </div>
    <div id="popup" class="popup-overlay" style="display: none;">
      <div class="popup-content">
        <h2>Prestige</h2>
        <span class="close-button" onclick="closePopup()">×</span>
        <p>Prestige level {Koekjes}</p>
        <p>Heavenly chips {Koekjes}</p>
        <p>Ascending will reset the game for a permanent boost based on total amount of cookies you made.</p>
        <button onclick="confirmPrestige()">Bevestigen</button>
      </div>
    </div>