<link rel="stylesheet" href="/stylesheets/home/stats.css">
<div class="column center">
    <div class="stats">
    <img src="images/eatingCookie.png" alt="CookieEating" height="75%" width="85%">
    </div>
        <h1>General</h1>
    <div class="containerTabel">
        <div class="columnlong">
            <p>Current cookies</p>
            <p>Total cookies this rebirth</p>
            <p>Total cookies</p>
            <p>Total rebirths</p>
            <p>Time played</p>
            <p>Total buildings</p>
            <p>Cookies per second (cps)</p>
            <p>Cookies per click</p>
        </div>
        <div class="columnshort">
            {{!Current Cookies}}
            <p>0</p>
            {{!Total cookies this rebirth}}
            <p>0</p>
            {{!Total cookies}}
            <p>0</p>
            {{!Total Rebirths}}
            <p>0</p>
            {{!Time played}}
            <p>0</p>
            {{!Total buildings}}
            <p>0</p>
            {{!Cookies per second}}
            <p>0</p> 
            {{!Cookies per click}}
            <p>0</p>
        </div>
    </div>
    <h1>upgrades</h1>
    <div class="containerUpgrades">
        <div class="LeftUpgrade">
            <h2>Building</h2>
            <p>Rolling pins</p>
            <p>Rolling pins</p>
            <p>Cookie Monsters</p>
            <p>Cookie Monsters</p>
            <p>Iron Furnaces</p>
            <p>Iron Furnaces</p>
        </div>
        <div class="centerUpgrade">
            <h2>Buff</h2>
            <p>Multiplier</p>
            <p>Discount</p>
            <p>Multiplier</p>
            <p>Discount</p>
            <p>Multiplier</p>
            <p>Discount</p>
        </div>
        <div class="rightUpgrade">
            <h2>Amount</h2>
            <p>0</p>
            <p>0</p>
            <p>0</p>
            <p>0</p>
            <p>0</p>
            <p>0</p>
        </div>
    </div>
<h1>Achievements</h1>
  <div class="achievement-container">
    <div class="achievement-row header">
      <div class="title">Title</div>
      <div class="description">Description</div>
      <div class="status">Completion</div>
    </div>
    <div id="achievement-list"></div>
  </div>

</div>
<script id="template-centerStats" type="text/x-handlebars-template">
  <h1>Achievements</h1>
  <div class="achievement-container">
    <div class="achievement-row header">
      <div class="title">Title</div>
      <div class="description">Description</div>
      <div class="status">Completion</div>
    </div>
    <div id="achievement-list"></div>
  </div>
</script>
