<div class="column center">
    {{>centerButtons}}
    <div class="row">
    <button id="button-logout" >logout</button>
    <button id="button-delete" >delete prograss</button>
    </div>
          <div class="row"></div>
    <button id="button-TopLeft" >color blind</button>
          <div class="row"></div>
    <button id="button-TopLeft" >dark mode</button>  
 

</div>
