<div class="row">
  <button id="button-TopLeft" onclick="showOptions()">Options</button>
  <button id="button-TopRight" onclick="openPopup()">Prestige</button>
</div>
<div class="row">
  <button id="button-TopLeft" onclick="showStats()">Stats</button>
  <button id="button-TopRight" onclick="showLeaderboard()">Leaderboard</button>
</div>
<div id="centerContent"></div>
