    <div class="column left"> 
        <h2>Cookies (cps: <span id="cpsDisplay">{{cps}}</span>)</h2>
        <h2 id="cookieCount">{{koekies}}</h2>
          {{>NoEvent}}
          <div class="containerUpgrades1">

    <div class="columnhalf"> 
    <th>
      <h3>Cookies per click {getal}</h3>      
    </th>
   </div>
    <div class="columndouble">
      <button class="finger-button" id="cookieBtn">
        <img src="images/finger.png" alt="finger Button" class="finger-img">
      </button>
    </div>
 </div>
    </div>