    <div class="column left"> 
        <h1>Cookies (cps: <span id="cpsDisplay">{{cps}}</span>)</h1>
        <h1 id="cookieCount">{{koekies}}</h1>
        <button class="cookie-button" id="cookieBtn">
            <img src="images/cookie.png" alt="Cookie Button" class="cookie-img">
        </button>
          <div class="containerUpgrades1">

    <div class="columnhalf"> 
    <th>
      <h2>Cookies per click {getal}</h2>      
    </th>
   </div>
    <div class="columndouble">
      <button class="Buildings-button" id="cookieBtn">
        <img src="images/finger.png" alt="Cookie Button" height="150%" width="100%">
      </button>
    </div>
 </div>
    </div>