    <div class="column left"> 
        <h2>Cookies (cps: <span id="cpsDisplay">{{cps}}</span>)</h2>
        <h2 id="cookieCount">{{koekies}}</h2>
              <div id="CookieContent">
      {{> NoEvent }} 
          </div>
          <div class="containerUpgrades1">

    <div class="columnhalf"> 
    <th>
      <h3>Cookies per click {getal}</h3>      
    </th>
   </div>
    <div class="columndouble">
      <button class="finger-button" id="cookieBtn">
        <img src="images/finger.png" alt="finger Button" class="finger-img">
      </button>
    </div>
 </div>
    </div>
  <script id="template-NoEvent" type="text/x-handlebars-template">
  {{> NoEvent }}
</script>

<script id="template-Halloween" type="text/x-handlebars-template">
  {{> Halloween }}
</script>
<script id="template-Christmass" type="text/x-handlebars-template">
  {{>Christmass}}
</script>
<script id="template-Easter" type="text/x-handlebars-template">
  {{>Easter}}
  </script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
<script src="/javascript/home/eventSwitch.js"></script>