<!DOCTYPE html>
<html>
<head>
  <title>Cookie Clicker</title>
  <link rel="stylesheet" href="/stylesheets/site.css">
</head>
<body>

    <audio id="myAudio" loop>
    <source src="Audio/baground.mp3" type="audio/mpeg">
  </audio>

  {{{body}}}


</body>
</html>