.left {
    background-color: #7b4b2a;
    overflow-y: auto;
    height: auto;
  }
  .left::-webkit-scrollbar {
    display: none;
}


.left {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
  .cookie-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }
  .cookie-button img {
    display: block;
    width: 60%;
    height: auto;
  
    margin-left: 20%;
  }
  .finger-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    width: 80% ;        
    height: auto;       
  }
  .finger-button img {
    width: 80%;        
    height: auto;       
    display: block;
  }
  h2{
    text-align: center;
    color:white;
  }
  .columnhalf{
    flex: 1.4;
    padding: 20px;
    box-sizing: border-box;
}
.columndouble
{
  flex:1.6;
  padding: 20px;

    margin-left: 13%;
}
.containerUpgrades1
{
  display: flex;
}
