.stats{
    margin-left: 8.5%;
  }
  .stats table{
    margin-left: 0%;
  }
  .stats th{
    color: white;
  }
  .columnlong{
    margin-left: 10%;
    flex: 1;
  }
  .columnshort{
    flex: 0.5;
  }
.containerTabel {
    display: flex;
    height: 40%;
    box-sizing: border-box;
    overflow-y: auto; 
    position: relative;
  }