 <link rel="stylesheet" href="/stylesheets/chat.css">
  <div class="chat-window">
    <div class="messages">
<h2>Global chat</h2>
    </div>
    <div class="input-area">
         <a class="home-button" href="/">⬅️ Back to game</a>
      <input type="text" placeholder="Type a message..." />
      <button>&gt;</button>
    </div>
  </div>
  <script src="/javascript/chat.js"></script>