<link rel="stylesheet" href="/stylesheets/home/home.css">
<link rel="stylesheet" href="/stylesheets/home/Right.css">
<link rel="stylesheet" href="/stylesheets/home/Left.css">
<link rel="stylesheet" href="/stylesheets/home/Center.css">
<div class="container">
  {{> left }}

  <div class="column center">
    <div id="centerContent">
      {{> centerLeaderboard }} 
    </div>
  </div>

  {{> right }}
  <div id="popup">
  <div class="popup-content">
    <h2>Are you sure you want to rebirth?</h2>
    <div class="button-container">
      <button onclick="confirmReincarnation()" style="margin-right: 10px;">Yes</button>
      <button onclick="closePopup()">No</button>
    </div>
  </div>
</div>
<script id="template-centerStats" type="text/x-handlebars-template">
  {{> centerStats }}
</script>

<script id="template-centerLeaderboard" type="text/x-handlebars-template">
  {{> centerLeaderboard }}
</script>
<script id="template-centerOptions" type="text/x-handlebars-template">
  {{>centerOptions}}
</script>

<script src="/javascript/home/cookieclick.js"></script>
<script src="/javascript/home/popup.js"></script>
<script src="/javascript/home/prestige.js"></script>
<script src="/javascript/home/buyBuilding.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
<script src="/javascript/home/PartialsSwitch.js"></script>
