<div class="container">
    <div class="column left"> 
        <h1>Cookies</h1>
        <h1>{{koekies}}</h1>
        <img src="images/cookie.png" height="75%" width="100%">
    </div>
    <div class="column center">

    </div>
    <div class="column right">
    
    </div>
  </div>