<div class="container">
    <div class="column left"> 
        <h1>Cookies</h1>
        <h1>{{koekies}}</h1>
       <button class="cookie-button" id="cookieBtn">
        <img src="images/cookie.png" alt="Cookie Button" height="75%" width="100%">
        </button>
    </div>
    <div class="column center">
      <button onclick="openPopup()">Prestige</button>
    </div>

    <div id="popup" class="popup-overlay" style="display: none;">
      <div class="popup-content">
        <h2>Prestige</h2>
        <span class="close-button" onclick="closePopup()">×</span>
        <p>Prestige level {Koekjes}</p>
        <p>Heavenly chips {Koekjes}</p>
        <p>Ascending will reset the game for a permanent boost based on total amount of cookies you made.</p>
        <button onclick="closePopup()">Bevestigen</button>
      </div>
    </div>
    <div class="column right">

    <table>
  <tr>
    <p>Rolling Pin</p>
    <th>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/LightBrownRollingPin.png" alt="Cookie Button">
        </button>
    </th>
    <th>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/BrownRollingPin.png" alt="Cookie Button">
        </button>
    </th>
    <th>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/BlackRollingPin.png" alt="Cookie Button">
        </button>
    </th>
  </tr>

</table>
<button class="Buildings-button" id="cookieBtn">
        <img src="images/RollingPinOnTable.jpg" alt="Cookie Button">
        <p style="float: right;"></p>
</button>
    </div>
  </div>

  <script>
  document.getElementById('cookieBtn').addEventListener('click', () => {
    fetch('/add-cookie', {
      method: 'POST'
    })
    .then(res => res.json())
    .then(data => {
      document.querySelector('h1:nth-of-type(2)').innerText = data.total;
    });
  });

  function openPopup() {
    const popup = document.getElementById("popup");
    popup.style.display = "flex";
  }

  function closePopup() {
    const popup = document.getElementById("popup");
    popup.style.display = "none";
  }

  window.addEventListener("click", function (event) {
    const popup = document.getElementById("popup");
    const content = document.querySelector(".popup-content");
    if (event.target === popup) {
      closePopup();
    }
  });
</script>
