<div class="container">
    <div class="column left"> 
        <h1>Cookies (cps: {cps})</h1>
        <h1>{{koekies}}</h1>
       <button class="cookie-button" id="cookieBtn">
        <img src="images/cookie.png" alt="Cookie Button" height="75%" width="100%">
        </button>
    </div>
    <div class="column center">
      <div class="row">
            <button id="button-TopLeft">Options</button>
            <button id="button-TopRight" onclick="openPopup()">Prestige</button>
      </div>
      <div class="row">
            <button id="button-TopLeft">Stats</button>
            <button id="button-TopRight">Leaderboards</button>
      </div>
    </div>
  
    <div id="popup" class="popup-overlay" style="display: none;">
      <div class="popup-content">
        <h2>Prestige</h2>
        <span class="close-button" onclick="closePopup()">×</span>
        <p>Prestige level {Koekjes}</p>
        <p>Heavenly chips {Koekjes}</p>
        <p>Ascending will reset the game for a permanent boost based on total amount of cookies you made.</p>
        <button onclick="confirmPrestige()">Bevestigen</button>
      </div>
    </div>
    <div class="column right">
  <div class="containerUpgrades1">

    <div class="columnhalf"> 
    <th>
      <h2>multiplier price: {getal}</h2>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/LightBrownRollingPin.png" alt="Cookie Button" >
        </button>
        
    </th>
    <th>
      <h2>Discount price: {getal}</h2>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/BrownRollingPin.png" alt="Cookie Button">
        </button>
    </th>
   </div>
    <div class="columndouble">
      <h3>Rolling pin price: {getal}</h3>
      <button class="Buildings-button" id="cookieBtn">
        <span class="building-count">0</span>
        <img src="images/RollingPinOnTable.jpg" alt="Cookie Button" height="150%" width="100%">
      </button>
    </div>
 </div>
  <div class="containerUpgrades2">

    <div class="columnhalf"> 
    <th>
      <h2>multiplier price: {getal}</h2>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/CookieMonster.png" alt="Cookie Button" height="60%">
        </button>
        
    </th>
    <th>
      <h2>Discount price: {getal}</h2>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/RedCookieMonster.png" alt="Cookie Button">
        </button>
    </th>
   </div>
    <div class="columndoubleLong">
      <h3>Cookie Monster price: {getal}</h3>
      <button class="BigBuildings-button" id="cookieBtn">
        <span class="building-count">0</span>
         <img src="images/CookieMonster.jpg" alt="Cookie Button" class="big-img">
      </button>
    </div>
 </div>
 </div>
    
   

  <script>
  document.getElementById('cookieBtn').addEventListener('click', () => {
    fetch('/add-cookie', {
      method: 'POST'
    })
    .then(res => res.json())
    .then(data => {
      document.querySelector('h1:nth-of-type(2)').innerText = data.total;
    });
  });

  function openPopup() {
    const popup = document.getElementById("popup");
    popup.style.display = "flex";
  }

  function closePopup() {
    const popup = document.getElementById("popup"); 
    popup.style.display = "none";
  }

  function confirmPrestige() {
    closePopup();

    window.location.href = "/prestige";
  }

  window.addEventListener("click", function (event) {
    const popup = document.getElementById("popup");
    const content = document.querySelector(".popup-content");
    if (event.target === popup) {
      closePopup();
    }
  });
</script>
