<div class="container">
    <div class="column left"> 
        <h1>Cookies</h1>
        <h1>{{koekies}}</h1>
       <button class="cookie-button" id="cookieBtn">
        <img src="images/cookie.png" alt="Cookie Button" height="75%" width="100%">
        </button>
    </div>
    <div class="column center">
      
    </div>
    <div class="column right">
  <div class="containerUpgrades1">

    <div class="columnhalf"> 
    <th>
      <h2>multiplier price: {getal}</h2>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/LightBrownRollingPin.png" alt="Cookie Button" >
        </button>
        
    </th>
    <th>
      <h2>Discount price: {getal}</h2>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/BrownRollingPin.png" alt="Cookie Button">
        </button>
    </th>
   </div>
    <div class="columndouble">
      <h3>Rolling pin</h3>
      <button class="Buildings-button" id="cookieBtn">
        <img src="images/RollingPinOnTable.jpg" alt="Cookie Button" height="150%" width="100%">
      </button>
    </div>
 </div>
  <div class="containerUpgrades2">

    <div class="columnhalf"> 
    <th>
      <h2>multiplier price: {getal}</h2>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/LightBrownRollingPin.png" alt="Cookie Button" >
        </button>
        
    </th>
    <th>
      <h2>Discount price: {getal}</h2>
        <button class="upgrade-button" id="cookieBtn">
        <img src="images/BrownRollingPin.png" alt="Cookie Button">
        </button>
    </th>
   </div>
    <div class="columndouble">
      <h3>Rolling pin</h3>
      <button class="Buildings-button" id="cookieBtn">
        <img src="images/RollingPinOnTable.jpg" alt="Cookie Button" height="150%" width="100%">
      </button>
    </div>
 </div>
 </div>
    
   

  <script>
  document.getElementById('cookieBtn').addEventListener('click', () => {
    fetch('/add-cookie', {
      method: 'POST'
    })
    .then(res => res.json())
    .then(data => {
      document.querySelector('h1:nth-of-type(2)').innerText = data.total;
    });
  });
</script>
