 <link rel="stylesheet" href="/stylesheets/Prestige.css">
<div id="prestige-container">
    <div id="node-0" class="prestige-node faded" onclick="unlockNode('node-0')">Start</div>
    <div id="node-1" class="prestige-node locked" onclick="unlockNode('node-1')">1</div>
    <div id="node-2" class="prestige-node locked" onclick="unlockNode('node-2')">2</div>
    <div id="node-3" class="prestige-node locked" onclick="unlockNode('node-3')">3</div>
    <div id="node-4" class="prestige-node locked" onclick="unlockNode('node-4')">4</div>
    <div id="node-5" class="prestige-node locked" onclick="unlockNode('node-5')">5</div>
    <div id="node-6" class="prestige-node locked" onclick="unlockNode('node-6')">6</div>
    <div id="node-7" class="prestige-node locked" onclick="unlockNode('node-7')">7</div>
    <div id="node-8" class="prestige-node locked" onclick="unlockNode('node-8')">8</div>
    <div id="node-9" class="prestige-node locked" onclick="unlockNode('node-9')">9</div>
    <div id="node-10" class="prestige-node locked" onclick="unlockNode('node-10')">10</div>
    <div id="node-11" class="prestige-node locked" onclick="unlockNode('node-11')">11</div>
</div>
<div id="prestige-info-box">
  <div class="prestige-label">Prestige level: <span id="prestige-level">0</span></div>
  <div class="prestige-label">Heavenly chips: <span id="heavenly-chips">0</span></div>
  <button id="reincarnate-button">Reincarnate</button>
</div>
<div id="reincarnate-confirm" class="confirm-overlay hidden">
  <div class="confirm-box">
    <p>Are you sure you want to return to the main menu?</p>
    <div class="button-row">
      <button id="confirm-return-yes">Yes</button>
      <button id="confirm-no">No</button>
    </div>
  </div>
</div>
<script>
  const unlockedNodes = {{{prestigeData.unlockedNodesJSON}}};
</script>
<script src="/javascript/prestiges/prestiges.js"></script>
