 <link rel="stylesheet" href="/stylesheets/Prestige.css">
<div id="prestige-container">
    <div class="prestige-node" id="node-0" onclick="unlockNode('node-0')">
       <img src="images/PrestigeStart.png" alt="Cookie Button">
    </div>
    <div id="node-1" class="prestige-node locked" onclick="unlockNode('node-1')">
        <img src="images/discount.png" alt="Cookie Button" class="prestige-img">
    </div>
    <div id="node-2" class="prestige-node locked" onclick="unlockNode('node-2')">
       <span class="building-count">10X</span>
            <img src="images/LightBrownRollingPin.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
    <div id="node-3" class="prestige-node locked" onclick="unlockNode('node-3')">
              <img src="images/CookieMonster.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
    <div id="node-4" class="prestige-node locked" onclick="unlockNode('node-4')">
      <img src="images/2Cookies.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
    <div id="node-5" class="prestige-node locked" onclick="unlockNode('node-5')">
              <img src="images/greenDiscount.png" alt="Cookie Button" class="prestige-img">
    </div>

    <div id="node-6" class="prestige-node locked" onclick="unlockNode('node-6')">
             <span class="building-count">10X</span>
            <img src="images/CookieMonster.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
    <div id="node-7" class="prestige-node locked" onclick="unlockNode('node-7')">
                    <img src="images/RedCookieMonster.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
    <div id="node-8" class="prestige-node locked" onclick="unlockNode('node-8')">
      <img src="images/SleepingCookie.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
    <div id="node-9" class="prestige-node locked" onclick="unlockNode('node-9')">
            <img src="images/3Cookies.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
    <div id="node-10" class="prestige-node locked" onclick="unlockNode('node-10')">
            <img src="images/2SleepingCookies.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
    <div id="node-11" class="prestige-node locked" onclick="unlockNode('node-11')">
        <img src="images/AllCookies.png" alt="Cookie Button" class="prestigeBig-img">
    </div>
</div>
<div id="prestige-info-box">
  <div class="prestige-label">Prestige level: <span id="prestige-level">0</span></div>
  <div class="prestige-label">Heavenly chips: <span id="heavenly-chips">0</span></div>
  <button id="reincarnate-button">Reincarnate</button>
</div>
<div id="reincarnate-confirm" class="confirm-overlay hidden">
  <div class="confirm-box">
    <p>Are you sure you want to return to the main menu?</p>
    <div class="button-row">
      <button id="confirm-return-yes">Yes</button>
      <button id="confirm-no">No</button>
    </div>
  </div>
</div>
<script>
  const unlockedNodes = {{{prestigeData.unlockedNodesJSON}}};
</script>
<script src="/javascript/prestiges/prestiges.js"></script>
