body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left {
    background-image: url("../images/OreoBaground.jpg");
  }
  
  
  .center {
    background-color: #ddd;
  }
  
  .right {
    background-color: #f2f2f2;
  }
  
  h1{
    text-align: center;
    color: white;
  }
  .cookie-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }

  .cookie-button img {
    display: block;
    width: 75%;
    height: auto;
    margin-left: 13%;
  }