body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left {
    background-color: #f2f2f2;
  }
  
  .center {
    background-color: #ddd;
  }
  
  .right {
    background-color: #f2f2f2;
  }
  
  h1{
    text-align: center;
  }
  .cookie-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }

  .cookie-button img {
    display: block;
    width: 100%;
    height: auto;
  }

  #username {
    background-color: #d2aa7b;
    border: 2px solid #c69c6d;
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 1.2em;
    font-weight: bold;
    color: #5e422d;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
                inset -2px -2px 5px rgba(255, 255, 255, 0.3);
    width: 20%;
    box-sizing: border-box;
    outline: none;
    font-family: 'Segoe UI', sans-serif;
}

#password {
  background-color: #d2aa7b;
  border: 2px solid #c69c6d;
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 1.2em;
  font-weight: bold;
  color: #5e422d;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
              inset -2px -2px 5px rgba(255, 255, 255, 0.3);
  width: 20%;
  box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI', sans-serif;
}

#login-button {
  background-color: rgb(28, 138, 206);
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  width: 20%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
}

#sign-in-button {
  background-color: #7b4b2a;
    color: #e7c8a0;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 12px 32px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

#login-page {
  background-color: #7b4b2a;
  width: 100%;
  zoom: 110%;
  padding: 20px;
  box-sizing: border-box;
}